.profile-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.card {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19); */
  width: 60%;
  margin-top: 2px;
  border: none;
}

@media (max-width: 992px) {
  .card {
    width: 90%;
  }
}

.edit-profile {
  font-size: 40px;
  margin-right: 40px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.profile-pic-button-container {
  display: flex;
  flex-direction: row;
}

.upload-profile-pic {
  margin: 10px 10px 10px 0px;
  padding: 0.6em;
  background-color: #4166f5;
  color: white;
}

#remove-profile-pic {
  background-color: #fa86c4;
  border-color: #fa86c4; 
  margin: 10px 0px 10px 0px;
  padding: 0.6em;
}

.upload-profile-pic input {
  display: none;
}

.card h5 {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 21px;
}

.no-profile-pic {
  height: 300px;
  width: 300px;
  background-color: black;
  border-radius: 50%;
  border: 2px solid #c5c6d0;
  overflow: hidden;
}

.profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: none;
  overflow: hidden;
}

#profile-pic-button-container {
  margin-top: -40px;
  display: flex;
  flex-direction: row;
}

#remove-pic {
  margin-left: 15px;
  border-radius: 100px;
  padding: 10px;
  background: 
    radial-gradient(100% 100% at 100% 0, rgb(8,80,120,0.9) 0, rgb(133,216,206,0.9) 100%);
  border: none;
}

#remove-pic:hover {
  background: 
    radial-gradient(100% 100% at 100% 0, rgb(8,80,120,1) 0, rgb(133,216,206,1) 100%);
}

#upload-picture-label {
  background: 
    radial-gradient(100% 100% at 100% 0, rgb(116,116,191,0.9) 0, rgb(52,138,199,0.9) 100%);
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
}

#upload-picture-label-none {
  background: 
    radial-gradient(100% 100% at 100% 0, rgb(116,116,191) 0, rgb(52,138,199) 100%);
  padding: 10px;
  border-radius: 100px;
  cursor: pointer;
}

#upload-picture-label:hover {
  background: 
    radial-gradient(100% 100% at 100% 0, rgb(116,116,191,1) 0, rgb(52,138,199,1) 100%);
}

#upload-picture-input {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

#name-email-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px 0px 10px 0px;
}

#name-field {
  font-size: 28px;
  margin-bottom: 2px;
  color: white;
}

#email-field {
  color: #d3d3d3;
  margin-bottom: 0px;
}

.sub-details {
  width: 60%;
  margin-top: 15px;
}

.profile-field {
  width: 60%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}

#edit-area {
  display: flex;
  flex-direction: column;
}

.save-changes {
  background-color: #03c04a;
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 5px;
  padding: 10px 0px 10px 0px;
  width: 180px;
}

#profile-action-bar {
  margin-top: 5px;
}

#card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Rating Card */
.full-star-icon  {
  color: #007fff;
  font-size: 25px;
}

.half-star-icon {
  color: #007fff;
  font-size: 25px;
}

.empty-star-icon {
  font-size: 25px;
  color: #007fff;
  stroke: 5px;
  fill: white;
}

/* Notification Filters */
#notif-tag-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 0px;
}

.tag {
  margin-right: 5px;
  margin-bottom: 5px;
}

.modules {
  background: #1D2671;
}

.locations {
  background: #702F6B
}

.faculties {
  background: #C33764;
}

/* Opt in check button */
#opt-in-form {
  padding: 15px 15px 5px 15px;
}

.opt-in-switch {
  color: white;
}

/* Log Out and Delete Account Buttons */
#logout {
  background-color: #9146ff;
  color: white;
  padding: 0.6em 0.8em 0.6em 0.8em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  cursor: pointer;
  margin-top: 0px;
  width: 120px;
}

#profile-delete-account {
  background-color: #9a7b4f;
  color: white;
  padding: 0.6em 0.8em 0.6em 0.8em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  cursor: pointer;
  margin-top: 0px;
  margin-left: 10px;
  border-color: #9a7b4f;
  width: 200px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}