/* * {
    font-family: 'DM Sans', sans-serif;
} */

.profile-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

@media (max-width: 992px) {
    .card {
        width: 90%;
    }
}

.edit-profile {
    font-size: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.upload-profile-pic {
    padding: 0.6em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    background-color: #4166f5;
    color: white;
}

.upload-profile-pic input {
    display: none;
}

.card h5 {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    font-size: 21px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    margin-top: 2px;
}

.no-profile-pic {
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 50%;
    border: 2px solid #c5c6d0;
    overflow: hidden;
}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 2px solid #c5c6d0;
    overflow: hidden;
}

.upload-profile-pic {
    margin-top: 10px;
    margin-bottom: 10px;
}

#edit-area {
    display: flex;
    flex-direction: column;
}

.save-changes {
    background-color: #03c04a;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    padding: 10px 0px 10px 0px;
    width: 180px;
}

#card-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.full-star-icon  {
    color: #007fff;
    font-size: 25px;
}

.half-star-icon {
    color: #007fff;
    font-size: 25px;
  }

.empty-star-icon {
    font-size: 25px;
    color: #007fff;
    stroke: 5px;
    fill: white;
}

#logout {
  background-color: #9146ff;
  color: white;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  padding-left: 0.8em;
  padding-right: 0.8em;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 18px;
  cursor: pointer;
  margin-top: 25px;
  width: 120px;
}

.opt-in-switch {
    color: white;
}

#profile-delete-account {
    background-color: #9a7b4f;
    color: white;
    padding-top: 0.6em;
    padding-bottom: 0.6em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    cursor: pointer;
    margin-top: 25px;
    margin-left: 10px;
    border-color: #9a7b4f;
    width: 200px;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}