/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./app/(authentication)/auth.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.auth_sign-up-page__KDM_F * {
    font-family: 'DM Sans', sans-serif;
}

.auth_sign-up-page__KDM_F {
    width: 100vw;
    height: 100vh;
    background-image: 
        linear-gradient(to right, rgba(255, 255, 255, 0), rgba(35, 32, 32, 0.8), rgba(0, 0, 0, 1)),
        url("/images/aesthetic-library.png");
    background-size: cover;
}

.auth_right-half__bBfYM {
    display: flex;
    flex-direction: column;
}

.auth_get-started__f9dXK {
    font-size: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 0px;
    color: #4166F5;
}

.auth_form-label__yv0p8 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: bold;
    color: white;
}

.auth_form-control__X5GuQ {
    font-size: 20px;
}

.auth_check-have-account__xLdLm {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: white;
}

.auth_check-have-account__xLdLm p {
    color: white;
    margin-right: 5px;
}

#auth_login-link__bzY02 {
    color: #4166F5;
    text-decoration: none;
}

.auth_password-input__PsMrT {
    position: relative;
}

.auth_password-input__PsMrT input {
    padding-right: 50px; 
}

.auth_password-input__PsMrT .auth_eye-password__LRkDk {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translateY(-50%);
    cursor: pointer;
}

.auth_eye-icon__qXf8H {
    color: #603fef;
}

#auth_create-account__RDEV7 {
    background-color: #bc13fe;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 0.6em;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    width: 160px;
}

.auth_error-message__tK2m0, .auth_success-message__WpXcg {
    font-size: 18px;
}

.auth_alert-success__pjhQe {
    background-color: #32CD32;
    color: white;
    margin-bottom: 8px;
}

.auth_alert-danger__Mi4rT {
    background-color: #ff2400;
    color: white;
    margin-bottom: 8px;
}

#auth_danger-icon__RbFSC, #auth_success-icon__sTuRr {
    height: 22px;
    width: 22px;
}

