#create-listing-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
}

#options-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  align-items: center;
}

#demo-card-container {
  margin-bottom: 20px;
}

#demo-card-container * {
  border: 0px;
}

.options-subcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px 0px 20px 0px;
  border-radius: 1rem;
  background-color: white;
}

.options-subcontainer:hover {
  box-shadow: 0px 0px 20px 10px rgb(255, 255, 255, 0.5);
}

.option-label {
  display: flex;
  align-content: "center";
}

.tag-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5px;
}

.tag {
  margin-right: 5px;
}

.modules {
  background-color: #0052d4;
}

.locations {
  background-color: #65c7f7;
}

.faculties {
  background-color: #9cecfb;
}