.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}

.card-icon {
  width: 25px;
  height: 25px;
}

.tag-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 5px;
}

.tag {
  margin-right: 5px;
}

.modules {
  background-color: #0052d4;
}

.locations {
  background-color: #65c7f7;
}

.faculties {
  background-color: #9cecfb;
}

.like-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ed2553;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: 8px 12px 8px 12px;
}

.like-button-text {
  margin: 0px 0px 0px 6px;
}