.card-container {
  border: none;
  margin: 5px;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 0px 0px 5px;
}

.card-icon {
  width: 25px;
  height: 25px;
}

.tag-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 5px;
}

.tag {
  font-size: 14px;
  padding: 6px 9px 6px 9px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.modules {
  background-color: #1D2671;
}

.locations {
  background-color: #702F6B;
}

.faculties {
  background-color: #C33764;
}

.like-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #ed2553;
  color: white;
  border-radius: 5px;
  border: none;
  width: fit-content;
  height: fit-content;
  margin-right: 4px;
  padding: 8px 12px 8px 12px;
}

.like-active {
  background-color: #af69ed;
  color: white;
}

.like-button-text {
  margin: 0px 0px 0px 6px;
}

.loading-like-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 5px;
  border: none;
  width: fit-content;
  height: fit-content;
  margin-right: 4px;
  padding: 8px 12px 8px 12px;
  background: linear-gradient(90deg, rgba(237,37,83,1) 0%, rgba(175,105,237,1) 100%);
}

#action-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2px;
}

#delete-button {
  background: 
    radial-gradient(100% 100% at 100% 0, #ffffff 0, #ffffff 100%) padding-box,
    radial-gradient(100% 100% at 100% 0, #ED213A 0, #93291E 100%) border-box;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-right: 4px;
  color: black;
  padding: 6px 12px 6px 12px;
}

#delete-button:hover {
  background: 
    radial-gradient(100% 100% at 100% 0, #ED213A 0, #93291E 100%) padding-box,
    radial-gradient(100% 100% at 100% 0, #ED213A 0, #93291E 100%) border-box;
}

#edit-button {
  background: 
    radial-gradient(100% 100% at 100% 0, #ffffff 0, #ffffff 100%) padding-box,
    radial-gradient(100% 100% at 100% 0, #c33764 0, #1d2671 100%) border-box;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-right: 4px;
  padding: 6px 18px 6px 18px;
}

#edit-button:hover {
  background: 
    radial-gradient(100% 100% at 100% 0, #c33764 0, #1d2671 100%) padding-box,
    radial-gradient(100% 100% at 100% 0, #c33764 0, #1d2671 100%) border-box;
}

#interested-users-button {
  background: 
    radial-gradient(100% 100% at 100% 0, #ffffff 0, #ffffff 100%) padding-box,
    radial-gradient(100% 100% at 100% 0, #4bff98 0, #20BDFF 100%) border-box;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-right: 4px;
  padding: 6px 18px 6px 18px;
}

#interested-users-button:hover {
  background: 
    radial-gradient(100% 100% at 100% 0, #4bff98 0, #20BDFF 100%) padding-box,
    radial-gradient(100% 100% at 100% 0, #4bff98 0, #20BDFF 100%) border-box;
}

#rate-button {
  background: 
    radial-gradient(100% 100% at 100% 0, #ffffff 0, #ffffff 100%) padding-box,
    radial-gradient(100% 100% at 100% 0, #ec9f05 0, #ff4e00 100%) border-box;
  border-radius: 5px;
  border: 2px solid transparent;
  margin-right: 4px;
  padding: 6px 18px 6px 18px;
}

#rate-button:hover {
  background: 
    radial-gradient(100% 100% at 100% 0, #ec9f05 0, #ff4e00 100%) padding-box,
    radial-gradient(100% 100% at 100% 0, #ec9f05 0, #ff4e00 100%) border-box;
}

#edit-button:hover,
#delete-button:hover,
#interested-users-button:hover,
#rate-button:hover {
  color: white;
}

#edit-button,
#delete-button,
#interested-users-button,
#rate-button {
  color: black;
}

#delete-button p,
#edit-button p,
#interested-users-button p,
#rate-button p {
  margin: 0px;
}

@media (max-width: 576px) {
  .card-img {
    border-radius: 5px 5px 0px 0px;
  }
}
